<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done</title>
    <style>
        .dodo {
            background: url('temp1.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            text-align: center;  
           
            padding-block:50vh;
            padding-block-start: 50px;
            font-size: 70px;
            font-weight: 600;
            color: #fff;
            backdrop-filter: blur(15px);
        }
    </style>
</head>

<body>
    <div class="dodo">
        <h1>Thanks for Login !!</h1>
    </div>

</body>

</html>